{% if config.USE_CDN %}
{% extends "bootstrap/base_cdn.html" %}
{% else %}
{% extends "bootstrap/base.html" %}
{% endif %}

{% block css %}
{{ super() }}
{% if enable_code-%}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments-github.css') }}">
{% endif-%}
{% endblock %}

{% block js_top %}
{{ super() }}
{% include "includes/mixpanel.html" ignore missing %}
{% endblock %}

{% block js_btm %}
{{ super() }}
{% if enable_zeroclipboard %}
<script type="text/javascript" src="{{ url_for('clapp.static', filename='js/ZeroClipboard.min.js') }}"></script>
{% endif %}
<script type="text/javascript">
{% if enable_tooltip %}
$(function () {
    $('button[data-toggle="toolip"]').tooltip();
});
$(function () {
    $('a[data-toggle="tooltip"]').tooltip();
});
{% endif %}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
{% include "includes/user_voice.html" ignore missing %}
{% endblock %}
