{% set page_title = 'Profile' %}
{% extends 'layouts/base.html' %}

{%- macro is_active_tab(name) -%}
{%- if active_tab and active_tab == name -%}
    active
{%- endif -%}
{%- endmacro -%}

{% block css %}
{{ super() }}
<style>
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
div.tab-content {
    padding-top: 10px;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <img class="img-rounded img-responsive" src="{{ profile_url }}" alt="Profile Picture">
        <p class="text-center"><small><small><a href="https://en.gravatar.com/" target="_new">Profile Images by Gravatar</a></small></small></p>
    </div>
    <div class="col-md-8">

<ul class="nav nav-tabs">
    <li class="{{ is_active_tab('connections') }}"><a href="#connections">Connections</a></li>
</ul>

<div class="tab-content">
{% block tab_content %}
{% endblock %}
</div>

    </div>
</div>
{% endblock %}
