<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand' href='/'>Tim Miles Running Log</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
      {%- if security -%}
      <ul class="nav navbar-nav navbar-right">
          {%- if current_user.is_authenticated() -%}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ url_for('frontend.profile') }}">Profile</a></li>
                  <li><a href="{{ url_for('security.change_password') }}">Change Password</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
              </ul>
          </li> 
          {%- else -%}
          <li><a href="{{ url_for('security.login') }}">Login</a></li>
              {%- if security.registerable -%}
              <li><a href="{{ url_for('security.register') }}">Register</a></li>
              {%- endif -%}
          {%- endif -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
</div>
