{% set page_title = 'Miles' %}
{% extends 'layouts/base.html' %}

{% macro miles_panel(header, miles, footer, id=None, day=None, category=None, editable=True) %}
<div class="miles-panel col-xs-3 col-sm-1">
    <div class="panel {% if category %}panel-{{category}}{% else %}panel-default{% endif %}" {% if editable %}editable{% endif %}>
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{ header }}</h3>
        </div>
        <div class="panel-body text-center distance" {% if id and day %}id="{{ id }}" day="{{ day }}"{% endif %} {% if editable %}editable{% endif %}>
            {{ miles }}
        </div>
        <div class="panel-footer text-center">
            {{ footer }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro miles_day_panel(day, miles, category=None, editable=True) %}
{{ miles_panel(day.format('ddd'), miles, day.format('M/D'), id=day.format('YYYY-MM-DD'), day=day.format('dddd MMMM D, YYYY'), category=category, editable=editable) }}
{% endmacro %}

{% macro miles_for_day_td(user_runs, day, today) %}
{% if day <= today %}
    <td class="td-center col-sm-1">{{ user_runs.miles_for_date(day)|default('0') }}</td>
{% else %}
    <td class="td-center col-sm-1">--</td>
{% endif %}
{% endmacro %}

{% block css %}
{{ super() }}
<style>
.miles-panel {
    padding-left: 2px;
    padding-right: 2px;
}
.distance {
    font-size: xx-large;
}
.panel-footer {
    padding-left: 2px;
    padding-right: 2px;
}
.panel-body {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div[editable] {
    cursor: pointer;
}
.panel-heading {
    padding-left: 2px;
    padding-right: 2px;
}
.form-inline {
    display: inline-block;
}
input#submit {
    padding-left: 2px;
    padding-right: 2px;
}
.td-center {
   text-align: center;   
}
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="hidden-xs col-sm-2 col-md-2"></div>
    {% for day in this_week %}
        {% if day == now %}
            {{ miles_day_panel(day, runs.miles_for_date(day), category='primary') }}
        {% elif day < now %}
            {{ miles_day_panel(day, runs.miles_for_date(day), category='info') }}
        {% else %}
            {{ miles_day_panel(day, '--', editable=False) }}
        {% endif %}
    {% endfor %}
    {{ miles_panel('Total', runs.miles_over_range(this_week), 'Week', editable=False, category='success') }}
</div>
{% if last_week %}
<div class="row">
    <div class="hidden-xs col-sm-2 col-md-2"></div>
    {% for day in last_week %}
        {{ miles_day_panel(day, runs.miles_for_date(day), category='info') }}
    {% endfor %}
    {{ miles_panel('Total', runs.miles_over_range(last_week), 'Week', editable=False, category='success') }}
</div>
{% endif %}

<!-- Groups -->
{% if johnnie_cc_runs %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">

<h3>Johnnie CC <small>{{ current_user.graduation_year - 3 }} - {{ current_user.graduation_year + 3}}</small></h3>
<hr>

<div class="table-responsive">
  <table class="table table-hover">
    <thead><tr>
        <th class="col-sm-2">Name</th>
        {% for day in this_week %}
            <th class="td-center col-sm-1">{{ day.format('ddd') }}</th>
        {% endfor %}
        <th class="td-center col-sm-2">Total</th> 
    </tr></thead>
    <tbody>
    {% for key, user_runs in johnnie_cc_runs._runs_by_user|dictsort %}
    <tr {% if user_runs.user == current_user %}class="info"{% endif %}>
        <td class="col-sm-2">{{ key }}</td>
        {% for day in this_week %}
            {{ miles_for_day_td(user_runs, day, today=now) }}
        {% endfor %}
        <td class="td-center col-sm-2">{{ user_runs.miles_over_range(this_week) }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

    </div>
</div>
{% endif %}

{% macro group_run_table(runs, range ) %}
<div class="table-responsive">
  <table class="table table-hover">
    <thead><tr>
        <th class="col-sm-2">Name</th>
        {% for day in gruns.dates %}
            <th class="td-center col-sm-1">{{ day.format('ddd') }}</th>
        {% endfor %}
        <th class="td-center col-sm-2">Total</th> 
    </tr></thead>
    <tbody>
    {% for user_runs in gruns %}
    <tr {% if user_runs.user == current_user %}class="info"{% endif %}>
        <td class="col-sm-2">{{ user_runs.user.last_name }}, {{ user_runs.user.first_name }}</td>
        {% for day in this_week %}
            {{ miles_for_day_td(user_runs, day, today=now) }}
        {% endfor %}
        <td class="td-center col-sm-2">{{ user_runs.total_miles }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}

<!-- Modal Dialog(s) -->
{{ run_entry_dialog|safe }}
{% endblock %}



{% from "macros/js.html" import form_async_data %}

{% block js_btm %}
{{ super() }}
<script>
$('.panel').click(function() {
    if($(this).is("[editable]")) {
        $body = $(this).find('.panel-body');
        $dialog = $('#run_entry_dialog');
        $dialog.find('.modal-title').text($body.attr('day'));
        $dialog.find('input#date').attr('value', $body.attr('id'));
        $dialog.find('input#miles').attr('value', parseInt($body.text()));
        $dialog.modal('show');
    }
});
$('#run_entry_dialog').on('show.bs.modal', function (e) {
});
$('#run_entry_dialog').on('hidden.bs.modal', function (e) {
    $('.alert').alert('close');
});
{% call form_async_data() %}
    var $next = $(data).find('#next').attr('value');
    if($next) {
        window.location.replace($next);
    }
    var $target_body = $($target.find('.modal-body'));                                                                                                                                                     
    var $data_body = $($(data).find('.modal-body'));
    $target_body.html($data_body.html());
{% endcall %}
</script>
{% endblock %}
