{% macro list_of_errors(errors) %}
{% for error in errors %}
{{error}}
{% endfor %}
{% endmacro %}

{% macro render_input_field_with_popover_errors(field, cls="") %}
<div class="form-group {% if field.errors %}has-error has-feedback{% endif %} {{ cls }}">
    {{ field.label(class='control-label') }}
    {% if field.errors %}
    {{ field(class='form-control input-popover', **{
            'data-toggle': 'popover', 
            'data-trigger': 'hover',
            'data-placement': 'right',
            'data-container': 'body',
            'data-content': list_of_errors(field.errors)|escape,
    })|safe }}
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    {% else %}
    {{ field(class_='form-control')|safe }}
    {% endif %}
</div>
{% endmacro %}

