{% set page_title = 'Miles' %}
{% extends 'layouts/base.html' %}

{% macro miles_panel(header, miles, footer, id=None, day=None) %}
<div class="miles-panel col-xs-3 col-sm-1">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">{{ header }}</h3>
  </div>
  <div class="panel-body text-center distance" {% if id and day %}id="{{ id }}" day="{{ day }}"{% endif %}>
    {{ miles }}
  </div>
  <div class="panel-footer text-center">
    {{ footer }}
  </div>
</div>
</div>
{% endmacro %}

{% macro miles_day_panel(day, miles) %}
{{ miles_panel(day.format('ddd'), miles, day.format('M/D/YY'), id=day.format('YYYY-MM-DD'), day=day.format('dddd MMMM D, YYYY')) }}
{% endmacro %}

{% block css %}
{{ super() }}
<style>
.miles-panel {
    min-width: 80px;
    padding-left: 3px;
    padding-right: 3px;
}
.distance {
    font-size: xx-large;
}
.panel-footer {
    padding-left: 2px;
    padding-right: 2px;
}
.panel-heading {
    padding-left: 3px;
    padding-right: 3px;
}
.form-inline {
    display: inline-block;
}
input#submit {
    padding-left: 3px;
    padding-right: 3px;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="hidden-xs col-sm-1 col-md-2"></div>
    {% for day in this_week %}
        {{ miles_day_panel(day, day.weekday()) }}
    {% endfor %}
    {{ miles_panel('Total', 36, 'Week') }}
</div>

<!-- Modal Dialog(s) -->
{{ run_entry_dialog|safe }}
{% endblock %}



{% from "macros/js.html" import form_async_data %}

{% block js_btm %}
{{ super() }}
<script>
$('.panel-body').click(function() {
    // console.log($(this));
    $('.modal-title').text($(this).attr('day'));
    $('input#date').attr('value', $(this).attr('id'));
    $('input#miles').attr('value', parseInt($(this).text()));
    if($(this).context.id) {
        $('#run_entry_dialog').modal('show');
    }
});
{% call form_async_data() %}
    var $next = $(data).find('#next').attr('value');
    if($next) {
        window.location.replace($next);
    } else {
        console.log("no");
    } 
    var $target_body = $($target.find('.modal-body'));                                                                                                                                                     
    var $data_body = $($(data).find('.modal-body'));
    $target_body.html($data_body.html());
{% endcall %}
</script>
{% endblock %}
